.body{
    background-image: url('https://img.freepik.com/free-vector/tiny-people-standing-near-box-donation-food-delivery-volunteers-giving-healthy-grocery-goods-charity-flat-vector-illustration-social-support-humanitarian-help-community-sharing-concept_74855-21023.jpg?w=2000');
    background-size: cover;
}
.container{
    max-width:400px;
    padding:40px;
    margin:0 auto;
}
.container label {
    display: block;
    margin-bottom: 8px;
}
.container input[type="text"],
.container input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container button {
    background-color: #544caf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.links {
    text-align: left;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.links a {
    color: #2000ee;
    margin-right: 10px;
}