body{
    background-image:url('https://www.foodnotify.com/hubfs/Content/Blog/Imported_Blog_Media/pexels-ella-olsson-1640774-scaled-1.jpg');
    background-size:cover;
    height:vh100px;

}
.container {
    max-width: 420px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container label {
    display: block;
    margin-bottom: 8px;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container button {
    background-color: #544caf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.urls {
    text-align: left;
    margin-top: 20px;
}

.urls a {
    color: #2000ee;
    margin-right: 10px;
}

