<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    <title>login</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <div class="container">
        <form method="POST">
            <label>Username</label>
            <input type="text" placeholder="Enter Username" name="username"><br>
            
            <label>Password</label>
            <input type="password" placeholder="Enter Password" name="password"><br>
            <a href="{{url_for('homepage')}}" ><button type="submit"> Log in </button></a><br>
        </form>
            <div class="links">
                <a href="{{url_for('forgot')}}">Forgot Password? </a>
                No Account<a href="{{url_for('registration')}}"> Register</a>
            </div>
    </div>
</body>
</html>